<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Results</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
        <a class="navbar-brand" href="#">TestMaster <sub>by Algodomain Solutions</sub></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link " href="/results">Results</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/upload">Create Questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  " href="/questions-list">Questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/testmaster/api/questionpapers">Question Papers </a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container">
        <div class="input-group mb-3 mt-3 shadow ">
            <input type="text" id="searchInput" class="form-control col-12" placeholder="Search results...">
        </div>
        <h3>Test Results</h3>
        <div class="table-responsive shadow ">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Test Name</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Test Date</th>
                        <th>Test Duration</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Time Taken</th>
                        <th>Status</th>
                        <th>Total Questions</th>
                        <th>Attempted Questions</th>
                        <th>Correct Answers</th>
                        <th>Wrong Answers</th>
                        <th>Skipped Questions</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <% results.forEach(result=> { %>
                        <tr>
                            <td>
                                <%= result.testName %>
                            </td>
                            <td>
                                <%= result.name %>
                            </td>
                            <td>
                                <%= result.emailId %>
                            </td>
                            <td>
                                <%= result.testDate %>
                            </td>
                            <td>
                                <%= result.testDuration %>
                            </td>
                            <td>
                                <%= result.startTime %>
                            </td>
                            <td>
                                <%= result.endTime %>
                            </td>
                            <td>
                                <%= result.timeTaken %>
                            </td>
                            <td>
                                <%= result.currentStatus %>
                            </td>
                            <td>
                                <%= result.totalQuestion %>
                            </td>
                            <td>
                                <%= result.attemptedQuestoin %>
                            </td>
                            <td>
                                <%= result.correctCount %>
                            </td>
                            <td>
                                <%= result.wrongCount %>
                            </td>
                            <td>
                                <%= result.skippedQuestions %>
                            </td>
                            <td>
                                <%= result.result %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>